<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="clear top10"></div>
	<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bottom30">
		<span class="jobTitle"><u>About Us</u></span>	
		<div class="clear top30"></div>
		<p>Getit.com is India's most innovative and fastest growing Online Job Portal. Launched in 2008, within a short span of 8 years, Getit.com has crossed the 2 crore candidate landmark and has more than 3 lakh Latest job Vacancies on site. Today, Getit.com is changing the landscape of hiring, by integrating personal and social networks of candidates for enhancing the recruitment process - making it the world's first job Portal site to do so. Getit.com now enables a recruiter to reach out to the personal network of employees and their connections, thus, giving them access to a vast network of good quality candidates.</p> 
		<p>It also offers better relevance of job search results through its database of candidates delivered through its unique 2-way matching technology, which helps candidates to get the jobs they deserve and help recruiters to hire faster.</p> 
		<p>Getit has a large reach through its print product, Getit Jobs - the Tuesday Job supplement of Hindustan Times - making it the only recruitment product with an integrated print and online offering. Getit also nurtures thought leadership on issues concerning the new age Human Resource Management through the 'Hindustan Times Getit HR Conclave' series. Getit thus continues to offer significantly enhanced features and a better end-user experience for both candidates and recruiters. Getit is a part of HT Media Limited. HT Media is one of India's largest and most respected names in the media industry, with its footprint across print, digital and radio.</p>	
	</div>
	<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
	<div class="clear top10"></div>
</div>