<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="clear top10"></div>
	<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<span class="jobTitle"><u>Help</u></span>		
		<div class="clear top30"></div>	
		<p><b>Why should I register with Getit.com?</b></p>	
		<p>Getit.com helps you find the right job matching your aspirations. Registering with Getit.com enables you to: 
		<ul>
			<li>Access and apply in one-click to more than 1 lakh jobs</li>
			<li>Store and access your Resume online</li>
			<li>Get your CV viewed by over 35000 recuiters who will contact you with un-advertized jobs.</li>
			<li>Create multiple customized profiles and apply to a job using the most relevant profile.</p></li>
		</ul>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
	<div class="clear top10"></div>
</div>