<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="clear top10"></div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jobListContent bottom30">
			<div class="clear top30"></div>
			<span class="glyphicon glyphicon-briefcase glyphiconStyle"></span>
			&nbsp;&nbsp;&nbsp;
			<span class="jobTitle">{{job.jobTitle}}</span>
			<div class="clear"></div>
			<span class="jobContentTitle">{{job.companyName}}</span>
			<div class="clear"></div>
			<span class="jobContent">
				<span class="glyphicon glyphicon-bookmark glyphiconStyle"></span>
				<span>&nbsp;&nbsp;&nbsp;{{job.yearsOfExp}}</span>
				<span class="glyphicon glyphicon-map-marker glyphiconStyle"></span>
				<span>&nbsp;&nbsp;&nbsp;{{job.location}}</span>
			</span>
			<div class="clear top20"></div>
			<hr class="horizontalBar">
			<div class="clear top20"></div>
			<span class="jobContent">{{job.jobDescription}}</span>
			<div class="clear top10"></div>
			<span class="jobContentTitle">Key Skills: </span>
			<span class="jobContent">{{job.skillsRequired}}</span>
			<div class="clear"></div>
			<a href="#/alljobs" class="btn btn-default shiftRight">Go To List</a>
			<div class="clear top40"></div>
		</div>
		<div class="clear top10"></div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	<div class="clear top10"></div>
</div>