@CHARSET "ISO-8859-1";
.clear
{
	clear: both;
}
.shiftLeft
{
	float: left;
}
.shiftRight
{
	float: right;
}
.top5
{
	margin-top: 5px;
}
.top10
{
	margin-top: 10px;
}
.top15
{
	margin-top: 15px;
}
.top20
{
	margin-top: 20px;
}
.top25
{
	margin-top: 25px;
}
.top30
{
	margin-top: 30px;
}
.top35
{
	margin-top: 35px;
}
.top40
{
	margin-top: 40px;
}
.bottom5
{
	margin-bottom: 5px;
}
.bottom10
{
	margin-bottom: 10px;
}
.bottom15
{
	margin-bottom: 15px;
}
.bottom20
{
	margin-bottom: 20px;
}
.bottom25
{
	margin-bottom: 25px;
}
.bottom30
{
	margin-bottom: 30px;
}
.bottom35
{
	margin-bottom: 35px;
}
.bottom40
{
	margin-bottom: 40px;
}
.left40
{
	margin-left: 40px;
}
.left25
{
	margin-left: 25px;
}
.font18
{
	font-size:18px;
}
.errorStyle
{
	color: #CA0101 !important;
	margin-bottom: 10px;
}
.successStyle
{
	color: #D259A1 !important;
	margin-bottom: 10px;
}
.navbar
{
	border-radius: 0px !important;
	height: 80px !important;
    padding-top: 10px !important;
}
.navbar-inverse .navbar-nav>li>a 
{
    color: #D259A1 !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.logoImg
{
	width:120px !important; 
	height:60px !important;
}
.footerBackground
{
	background-color: #000000 !important;
}
.footerContent 
{
    color: rgba(202, 56, 142, 0.59) !important;
    font-size: 16px;
    font-weight: bold;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 #social-fb1:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #basicViewStyle
 {
 	min-height: 563px;
 }
.table>tbody>tr.tableHead>th
{
	background-color: rgba(202, 56, 142, 0.59) !important;
}
.table>tbody>tr.tableContent>td
{
	background-color: rgba(224, 138, 189, 0.57) !important;
}
.bannerImageStyle
{
	width: 1550px !important;
    height: 350px !important;
}
.jobImageStyle
{
	width:200px;
}
.iconStyle
{
	width:20px;
	height:20px;
}
.cursorp
{
	cursor: pointer;
}
.alignCenter
{
	text-align:center !important;
}
.jobListContent
{
	background-color: #f19bcd5e !important;
	border-radius: 10px !important;
}
.glyphiconStyle
{
	color: #D259A1 !important;
    font-size: 20px;
}
.jobTitle
{
	color: #D259A1 !important;
    font-size: 20px;
    font-weight: bold;
}
.jobContentTitle
{
	font-size: 20px;
}
.jobContent
{
	font-size: 15px;
}
.hyperlinkStyle
{
	color: #D259A1 !important;
	font-weight:bold;
}
.likedStyle
{
	color: #D259A1 !important;
	font-weight: bold !important;
    font-size: 18px !important;
}
.unlikedStyle
{
	color: #000000 !important;
	font-weight: bold !important;
    font-size: 18px !important;
}
.notificationStyle
{
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 0px 3px 0px 3px;
	background-color: #FF0000;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10px;
	border-radius: 10px;
}
.NotViewedNotificationStyle
{
	color: #000000 !important;
}
.ViewedNotificationStyle
{
	color: #D259A1 !important;
}
.friendImageStyle
{
	width: 180px;
    height: 180px;
    border-radius: 50%;
}
.profilePictureStyle
{
	width: 50px;
    height: 58px;
    border-radius: 50%;
}
.horizontalBar
{
	margin-top: 3px !important;
    margin-bottom: 3px !important;
    border-top: 1px solid #d259a1 !important;
}
.btn-default {
    color: #d259a1 !important;
    background-color: #fadaed !important;
    border-color: #d259a1 !important;
}
.calenderDiv
{
	border: 1px solid #d259a1;
}
.commentImageStyle
{
	width: 35px;
    height: 35px;
    border-radius: 50%;
}
.commentListStyle
{
	list-style: none;
    margin-left: -20px;
}
.listStyle
{
	list-style: none;
}